<% if !machine.empty? %>
	<p style="color:red; font-style:italic"><b>Machinery already in lender's list!</b></p>
<% else %>
  <div class="field">
    <label for="lendablemachinery_num_of_machines">Num of machines</label>
    <input id="lendablemachinery_numofmachines" name="lendablemachinery[numofmachines]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="lendablemachinery_rate_per_hour">Rate per hour</label>
    <input id="lendablemachinery_rateperhr" name="lendablemachinery[rateperhr]" size="30" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit" />
  </div>
<% end %>