    <script type="text/javascript">
    jQuery(function($) {
    $("#mcsearchsubmit").click(function(){
      if($("#category_id").val() == "Select a category.." || $("#district_cd").val() == "Select a district.." || $("#taluk_cd").val() == "Select a taluk..") {
      	$("#mcsearcherror").html('<p style="color:red; font-style:bold">Choose a valid option!</p>');
      }
      else {
          $("#mcsearcherror").html('<p></p>')
    	  $("#machinerydetails").html('<img src="assets/276.gif" alt="Fetching..." width="100px" height="30px" />')
    	  var url = '/static_pages/search_machinery?category_id=' + $("#category_id").val() + '&district_cd=' + $("#district_cd").val() + '&taluk_cd=' + $("#taluk_cd").val()
    	  jQuery.get(url, function(data) {
    		$("#machinerydetails").html(data);
    	  });
      }
      return false;
    });
    })
    </script>
    
    <%= select_tag(:village_cd, options_for_select(villages.collect {|m|[m.name,m.village_cd]}.insert(0,'Select a village..'))) %>
    <div class="actions" style="width:50%; text-align:center">
      <%= submit_tag("Submit", :id => "mcsearchsubmit") %>
    </div>