<% provide(:title, 'Contact') %>
<h1>StaticPages#contact</h1>
<p>Path: app/views/static_pages/contact.html.erb</p>

<h1>Contact</h1>
<p>
Contact me through mail using my <a href="mailto://sakthislm@gmail.com">gmail id</a>.
<br />
Click <a href="mailto://sakthivel_cb@yahoo.co.in">here</a> to sent me a mail to my Yahoo account.
</p>

