<% provide(:title, 'Help')%>
<h1>StaticPages#help</h1>
<p>Path: app/views/static_pages/help.html.erb</p>

<h1>Help</h1>
<p>
Thank you for trying this web application.
<br />
with regards,
<br />
Sakthivel C
</p>