<% provide(:title, 'Help')%>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<h1>Help</h1>
<p>
This web application is supposed to be a very basic one which is used to revise RoR before starting a full fledged application. Use "Sign Up" button present in the home page if you are new to this application(accessing it for the first time). Otherwise if you have "signed up" already you can "Sign In" to see your profile and access your content. please "Sign out" before you leave this application since your sign in will be remembered forever until you explicitly click "Sign Out".
<br />
Thank you for trying this web application.
<br />
with regards,
<br />
Sakthivel C
</p>