<% provide(:title, 'Home')%>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h1>Sample App</h1>
<p>
  This is the home page for the primal application done by me using Ruby on Rails.<br /><br />
  <%= link_to "Farmer Sign up!", farmersignup_path, class: "signup_button round" %><br />
  <%= link_to "Lender Sign up!", lendersignup_path, class: "signup_button round" %><br />
</p>