<% if @lender.lendablemachineries.any? %>
  <table>
  <tr class="th2"><th>Machinery Id</th><th>Machinery Name</th><th>Machinery Category</th><th>Manufacturer</th><th>Rate Per Hour</th><th>No of Machines</th></tr>
    <%= render @lendablemachinery %>
  </table>
<% end %>
