<div id="mcsearcherror"></div>
<%= form_tag(:id => "machinerysearchform") do %>
  <span class="field">
	<%= select_tag(:category_id, options_for_select(Machinerycategory.all.map {|m|[m.name,m.id]}.insert(0,'Select a category..'))) %>
  </span>
<!--  <div id="stateSelect">
  	State selection
  </div></br>	-->
  <span id="districtSelect">
  </span>
  <span id="talukSelect">
  </span>
  <span id="villageSelect">
  </span>
<% end %>
