<%= form_for(@lendablemachineryadded) do |f| %>
  <%= render 'shared/lender_error_messages', object: f.object %>
  <br/>
	<div class="field">
    <%= f.label :select_machinery_category %>
	  <%= select_tag(:machinerycategory_id, options_for_select(Machinerycategory.all.map {|m|[m.name,m.id]}.insert(0,'Select a category..'))) %>
  </div>
  <div id="machineSelect">
  </div></br>
  <div id="lmcavailcheck">
  </div>
<% end %>
