<% if @lender.lendablemachineries.any? %>
  <table class="table table-bordered table-striped table-condensed">
  <thead>
  <tr><th>Machinery Id</th><th>Machinery Name</th><th>Machinery Category</th><th>Manufacturer</th><th>Rate Per Hour</th><th>No of Machines</th><th>Edit?</th><th>Delete?</th></tr>
  </thead>
    <%= render @lendablemachinery %>
  </table>
<% end %>
