<%= form_tag(:id => "machinerysearchform") do %>
  <div class="field">
    <%= label_tag :select_machinery_category %><br />
	<%= select_tag(:category_id, options_for_select(Machinerycategory.all.map {|m|[m.name,m.id]}.insert(0,'Select a category..'))) %>
  </div>
<!--  <div id="stateSelect">
  	State selection
  </div></br>	-->
  <div id="districtSelect">
  	District selection  
  </div></br>
  <div id="talukSelect">
  	Taluk selection
  </div></br>
  <div id="villageSelect">
  	Village selection
  </div></br>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
