// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.th2 {
	color: white;
	background-color: #215676;
}

/* .machinelist {
	border: 1px solid grey;
} */

.machinelist {
	border: 0;
}

.machinerow {
	background: white;
}
.machinelist th {
	padding: 10px;
	border: 0;
}
.machinelist td {
	padding: 10px;
	border: 0;
}