<tr>
			<td>
				<%= lendablemachinerywithoutmcinfo.machinery_id %>
			</td>
			<td>
				<%= lendablemachinerywithoutmcinfo.rateperhr %>
			</td>
			<td>
				<%= lendablemachinerywithoutmcinfo.numofmachines %>
			</td>
</tr>
