<% provide(:title, @lender.name) %>
<table class="profile">
  <tr>
    <td class="main">
      <h1 class="micropost">Add Lendable Machinery</h1>
	  <p>## Form to be added ##</p>
    </td>
    <td class="sidebar round">
       <%= render 'shared/lender_info' %>
    </td>
  </tr>
  <tr>
    <%= render 'shared/lended_machinery_info' %>
  </tr>
</table>
