<% provide(:title, @lender.name) %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>Lender Name:
	<%= @lender.name%>
      </h1><br />
       <%= render 'shared/lended_machinery_info' %>
    </td>
    <td class="sidebar round">
       <%= render 'shared/lender_info' %>
    </td>
  </tr>
</table>
